<h1>Sort Data</h1>
<p>
    This block sorts the input data into ascending or descending order depending
    on the SortDescending property. The data is sorted based on a specified 
    index column which can be set using the IndexColumn property (this takes 
    a column name or column index value in the #index form with #0 being the 
    first column).
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data that will be sorted</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>sorted-data: Sorted version of input-data</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>IndexColumn: Column that the entire data set will be sorted upon</li>
        <li>SortDescending: Set to true for the data to be sorted into descending
        order on the IndexColumn. By default, data will be sorted into ascending order
        of IndexColumn</li>
    </ul>
</p>