/****** WORKFLOW EDITOR ******/

#workflowEditor
{
    position:absolute;
    left:10px;
    right:10px;
}

#drawingCanvas_drawing {
    background: white;
}

/* Main Drawing toolbar */
#drawingCanvas_toolbar
{
    margin:0 !important;
}

#drawingCanvas_toolbar .navbar-inner
{
    padding:0;
}

#drawingCanvas_toolbar .nav
{
    float:none;
    margin:0;
}

#drawingCanvas_toolbar .nav a
{
    padding:0 10px;
    line-height:40px;
}

#drawingCanvas_toolbar .nav i:before
{
    top:14px;
    font-size:14px;
    color:#777777;
    margin-right:5px;
}

#drawingCanvas_toolbar .nav a:hover i:before
{
    color:#333333;
}

#drawingCanvas_toolbar .nav .input-prepend
{
    float:right;
    margin:5px;
}

/* Toolbar on invocations dialog */
#drawingCanvas_drawing_invocations_toolbar
{
    margin:0 !important;
}

#drawingCanvas_drawing_invocations_toolbar .navbar-inner
{
    padding:0;
}

#drawingCanvas_drawing_invocations_toolbar .nav
{
    float:none;
    margin:0;
}

#drawingCanvas_drawing_invocations_toolbar .nav a
{
    padding:0 10px;
    line-height:40px;
    font-size: 14px;
}

#drawingCanvas_drawing_invocations_toolbar .nav i:before
{
    top:14px;
    font-size:14px;
    color:#777777;
    margin-right:5px;
}

#drawingCanvas_drawing_invocations_toolbar .nav a:hover i:before
{
    color:#333333;
}

#drawingCanvas_drawing_invocations_toolbar .nav .input-prepend
{
    float:right;
    margin:5px;
}

/* Drawing debugger toolbar */
#drawingCanvas_drawing_invocations_debugger
{
    margin:0 !important;
}

#drawingCanvas_drawing_invocations_debugger .navbar-inner
{
    padding:0;
}

#drawingCanvas_drawing_invocations_debugger .nav
{
    float:none;
    margin:0;
}

#drawingCanvas_drawing_invocations_debugger .nav a
{
    padding:0 10px;
    line-height:40px;
    font-size: 14px;
}

#drawingCanvas_drawing_invocations_debugger .nav i:before
{
    top:14px;
    font-size:14px;
    color:#777777;
    margin-right:5px;
}

#drawingCanvas_drawing_invocations_debugger .nav a:hover i:before
{
    color:#333333;
}

#drawingCanvas_drawing_invocations_debugger .nav .input-prepend
{
    float:right;
    margin:5px;
}
#drawingCanvas_drawing_holder
{
    width:75% !important;
    margin:10px 0 0 0!important;
}

#drawingCanvas_drawing
{
    /*width:100% !important; */
}

#drawingCanvas_paletteContainer
{
    width:24% !important;
    margin:10px 0 0 0!important;
}

#drawingCanvas_palette
{
    /*height:auto !important;*/
    overflow-x: hidden;
    overflow-y: auto;
}

#drawingCanvas_palette ul
{
    margin:0;
}

#drawingCanvas_palette ul li
{
    line-height:24px;
    cursor:move;
    margin-left: 20px;
}

#drawingCanvas_palette ul li span.icomoon-plus
{
    float:right;
    cursor:pointer;
    font-size:10px;
    color:#999999;
}

.invocation-error, .invocation-unknown {
  font-size: 12px;
  height: 20px;
  vertical-align: text-top;
  list-style-image: url(../images/cross.png);
  cursor: pointer;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.invocation-ok {
  font-size: 12px;
  height: 20px;
  vertical-align: text-top;
  list-style-image: url(../images/tick.png);
  cursor: pointer;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.invocation-waiting {
  font-size: 12px;
  height: 20px;
  vertical-align: text-top;
  list-style-image: url(../images/hourglass.png);
  cursor: pointer;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.invocation-running {
  font-size: 12px;
  height: 20px;
  vertical-align: text-top;
  list-style-image: url(../images/cog.png);
  cursor: pointer;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.invocation-debugging {
  font-size: 12px;
  height: 20px;
  vertical-align: text-top;
  list-style-image: url(../images/cog_edit.png);
  cursor: pointer;
  width: -moz-max-content;
  width: -webkit-max-content;
}

.invocation-workflow {
    list-style-image: url(../images/folder_go.png);
}

.invocation-back {
    list-style-image: url(../images/arrow_left.png);
}

.invocation {
     font-size: 12px;
     margin-left: 5px;
     cursor: pointer;
     text-decoration: underline;
     white-space: nowrap;
 }

.invocation-file {
    list-style-image: url(../images/disk.png);
}

.invocation-folder {
    list-style-image: url(../images/folder.png);
}

.invocation-save-debug-history {
  font-size: 12px;
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 4px;
  cursor: pointer;
  background-image: url(../images/disk.png);
  background-repeat: no-repeat;
}

.invocation-view-debug-history {
  font-size: 12px;
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 4px;
  cursor: pointer;
  background-image: url(../images/script.png);
  background-repeat: no-repeat;
}

.property-info {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  cursor: help;
  background-image: url(../images/help.png);
  background-repeat: no-repeat;
  background-position: bottom;
  float: left;
}

.property-view {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  cursor: pointer;
  background-image: url(../images/magnifier.png);
  background-repeat: no-repeat;
  background-position: bottom;
  float: left;
}

.property-popupedit {
  height: 20px;
  width: 20px;
  margin-top: 4px;
  cursor: help;
  background-image: url(../images/chart_organisation.png);
  background-repeat: no-repeat;
  background-position: bottom;
  float: left;    
}

.property-workflow {
    height: 20px;
    width: 20px;
    margin-top: 4px;
    cursor: pointer;
    background-image: url(../images/cog_edit.png);
    background-repeat: no-repeat;
    background-position: bottom;
    float: left;
}

.wfcanvas {
    border: 1px solid #d4d4d4;
}
