<h1>StandardRegressionDatasets</h1>
<p>
    This block packages some standard regression datasets to simplify the
    process of loading standard data into workflows. Most of the data is
    taken from the UCI Machine Learning repository at:
    
    <hr>
    http://archive.ics.uci.edu/ml/index.html
    <hr>
    
    The following datasets have been wrapped:
    <ul>
        <li>AutoMPG: Miles per gallon data from a number of cars</li>
        
    </ul>
</p>
    

<h2>Outputs</h2>
<p>
    <ul>
        <li>data: Sample dataset in data-wrapper form</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>Dataset: The set of data to import into the workflow</li>
        <li>OnlyNumericalData: Only import the numerical columns</li>
        <li>StripMissing: Remove any rows that contain missing values</li>
    </ul>
</p>