<h1>Correlation</h1>
<p>
    Calculates the r-squared correlation coefficients between columns in the
    two input data sets. 
</p>
<p>
    If the y input has only one column and the x input has
    multiple columns the output will be a matrix containing the correlation coefficient
    between each input column and the single output column.
</p>
<p>
    If the y input has multiple columns the output will be a matrix containing
    the correlation between column pairs in the x and y inputs. i.e. The first
    column in the results will contain the correlation between the first x column
    and the first y column. The second output column will contain the correlation
    between the second x column and the second y column and so on.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>x: The x half of the data being compared. Typically the x data in a set of regression data.</li>
        <li>y: The y half of the data being compared. Typically the y data in a set of regression data.
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>r-squared: A data set containing the correlation results</li>
    </ul>
</p>
