<h1>Pace Regression</h1>
<pre>
Under regularity conditions, pace regression is provably optimal when the number of coefficients tends to infinity. It consists of a group of estimators that are either overall optimal or optimal under certain conditions.

The current work of the pace regression theory, and therefore also this implementation, do not handle: 

- missing values 
- non-binary nominal attributes 
- the case that n - k is small where n is the number of instances and k is the number of coefficients (the threshold used in this implmentation is 20)

For more information see:

Wang, Y (2000). A new approach to fitting linear models in high dimensional spaces. Hamilton, New Zealand.

Wang, Y., Witten, I. H.: Modeling for optimal probability prediction. In: Proceedings of the Nineteenth International Conference in Machine Learning, Sydney, Australia, 650-657, 2002.

BibTeX:

 @phdthesis{Wang2000,
    address = {Hamilton, New Zealand},
    author = {Wang, Y},
    school = {Department of Computer Science, University of Waikato},
    title = {A new approach to fitting linear models in high dimensional spaces},
    year = {2000}
 }
 
 @inproceedings{Wang2002,
    address = {Sydney, Australia},
    author = {Wang, Y. and Witten, I. H.},
    booktitle = {Proceedings of the Nineteenth International Conference in Machine Learning},
    pages = {650-657},
    title = {Modeling for optimal probability prediction},
    year = {2002}
 }
 
</pre>
<h2>Inputs</h2>
<p>
    <ul>
        <li>x: X-variable block</li>
        <li>y: Y-variable to predict</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>y-predicted: Prediction of the Y-variable</li>
        <li>report: Text report of fitting process</li>
        <li>model: Serialized model object that can be used for prediction</li>
    </ul>
</p>
