/****** ELFINDER ******/

#elfinder
{
    margin:10px auto;
    width:90%;
    border-style:none;
    background-color:#FAFAFA;
    font-size: 1.0em;
}

#elfinder .elfinder-workzone .elfinder-cwd-wrapper
{
    background-color:#FFFFFF;
}

#elfinder .ui-widget-header
{
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 16px;
    padding:5px;
}

#elfinder .ui-widget-header .ui-widget-content
{
    border-style:none;
    background:transparent;
}

#elfinder .elfinder-toolbar .elfinder-buttonset
{
    margin:0;
    padding:0;
}

#elfinder .elfinder-toolbar .elfinder-buttonset .elfinder-button
{
    padding:6px;
}

#elfinder .ui-widget-header .ui-state-default
{
    border-style:none;
    background:transparent;
    box-shadow:none;
}

#elfinder .elfinder-button-menu
{
    background:#FFFFFF !important;
    border:1px solid #CCCCCC !important;
    line-height:20px;
}

#elfinder .elfinder-button-menu .elfinder-button-menu-item
{
    padding:3px 20px;
    font-size:0.85em;
}

#elfinder .elfinder-button-menu .elfinder-button-menu-item-separated
{
    margin-top:5px;
}

.elfinder-statusbar div {
    font-size: 1.0em;
}

/***** Toolbar Buttons *****/

.elfinder-button-icon
{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    background:none;
}

.elfinder-button-icon:hover
{
    cursor:pointer;
}

.elfinder-button-icon-back:before{content:"\e726";}
.elfinder-button-icon-forward:before{content:"\e722";}
.elfinder-button-icon-netmount:before{content:"\e661";}
.elfinder-button-icon-mkdir:before{content:"\e62e";}
.elfinder-button-icon-mkfile:before{content:"\e622";}
.elfinder-button-icon-escmkdataset:before{content:"\e62d";}
.elfinder-button-icon-escextractdataset:before{content:"\e7a5";}
.elfinder-button-icon-escupload:before{content:"\e6bc";}
.elfinder-button-icon-open:before{content:"\e62f";}
.elfinder-button-icon-getfile:before{content:"\e727";}
.elfinder-button-icon-escinfo:before{content:"\e6f7";}
.elfinder-button-icon-escprovenance:before{content:"\e6b9";}
.elfinder-button-icon-escquickview:before{content:"\e6c6";}
.elfinder-button-icon-acl:before{content:"\e688";}
.elfinder-button-icon-escarchive:before{content:"\e65c";}
.elfinder-button-icon-escrestore:before{content:"\e65d";}
.elfinder-button-icon-copy:before{content:"\e627";}
.elfinder-button-icon-cut:before{content:"\e73e";}
.elfinder-button-icon-paste:before{content:"\e62a";}
.elfinder-button-icon-rm:before{content:"\e6a8";}
.elfinder-button-icon-rename:before{content:"\e607";}
.elfinder-button-icon-edit:before{content:"\e605";}
.elfinder-button-icon-extract:before{content:"\e7b6";}
.elfinder-button-icon-archive:before{content:"\e7b6";}
.elfinder-button-icon-view-list:before{content:"\e6b4";}
.elfinder-button-icon-sort:before{content:"\e71d";}

.elfinder-cwd-icon-esc {
	display:block;
	width:48px;
	height:48px;
	margin:0 auto;
	background: url('../img/database_blue.png') 0 0 no-repeat;
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box;
}
#elfinder .elfinder-workzone
{
    border-left: 1px solid #D4D4D4;
    border-right: 1px solid #D4D4D4;
}

#elfinder .elfinder-cwd .ui-selected .elfinder-cwd-file-wrapper
{
    background:none repeat scroll 0 0 #CCCCCC;
}

#elfinder .elfinder-navbar
{
    background: #E9E9E9;
    border-width:0 1px 0 0;
    font-size: 1.0em;
}

#elfinder .elfinder-navbar-wrapper {
    font-size: 1.0em;
}

#elfinder .elfinder-cwd-view-list td {
    font-size: 1.0em;
    
}

.elfinder-contextmenu .elfinder-contextmenu-item span {
    font-size: 1.0em;
}

.elfinder-cwd-view-icons .elfinder-cwd-filename, .elfinder-cwd-view-list td {
    font-size: 1.0em;
}

#elfinder .elfinder-navbar .elfinder-tree .elfinder-navbar-root .elfinder-navbar-icon
{
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    background:none;
}

#elfinder .elfinder-navbar .elfinder-tree .elfinder-navbar-root .elfinder-navbar-icon:before
{
    content:"\e600";
}

#elfinder .elfinder-navbar .elfinder-tree:first-child .elfinder-navbar-root .elfinder-navbar-icon:before
{
    content:"\e600";
}

/*#elfinder .elfinder-navbar .elfinder-tree:first-child .elfinder-navbar-root .elfinder-navbar-icon
{
    content:"\e000";
}*/

#elfinder .elfinder-navbar .ui-resizable-e
{
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

#elfinder .ui-resizable-handle
{
    position: absolute;
    font-size: 0.1px;
    display: block;
}

#elfinder .ui-corner-bottom
{
    border-radius: 0px 0px 4px 4px;
}

#elfinder .elfinder-path, #elfinder .elfinder-stat-size, #elfinder .elfinder-stat-selected
{
    line-height:30px;
}

/*
#elfinder .ui-dialog
{
    padding:0;
    width:inherit !important;
}

#elfinder .ui-dialog .ui-widget-header
{
    border-top-style:none;
    border-left-style:none;
    border-right-style:none;
    background:#464646;
    border-bottom: 3px solid #FF9933;
}

#elfinder .ui-dialog .ui-widget-header .ui-icon
{
    background-image:url('../img/ui-icons_cccccc_256x240.png');
}

#elfinder .ui-dialog .ui-dialog-titlebar
{
    line-height:30px;
    padding:5px 5px 5px 10px;
    color:#CCCCCC;
}

#elfinder .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close
{
    margin-right:-5px;
}

#elfinder .ui-dialog .ui-dialog-content
{
    font-size:1em;
}

#elfinder .ui-dialog .ui-dialog-content .elfinder-dialog-icon
{
    position:relative;
    margin:0 10px 0 0;
    display:block;
    float:left;
    top:0px;
    left:0px;
}

#elfinder .elfinder-upload-dialog-wrapper
{
    min-height:200px;
    width:400px;
    padding:10px 0;
}

#elfinder .elfinder-dialog-error
{
    max-width:400px;
}
*/

.elfinder-contextmenu
{
    background:#FFFFFF !important;
    border:1px solid #CCCCCC !important;
    line-height:20px;
}

.elfinder-contextmenu .elfinder-contextmenu-item
{
    padding:3px 20px 3px 35px;
}