<h1>Row Split</h1>
<p>
    This block splits the data contained on the "input-data" connection into two
    parts based on a specified SplitLocation. All data above this location is 
    passed to the "upper-data" output, whilst all data below this location is 
    passed to the "lower-data" output.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data to be partitioned based on SplitLocation</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>upper-data: Data from the input-data from above the SplitLocation</li>
        <li>lower-data: Data from the input-data from below the SplitLocation</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>SplitLocation: Row boundary (starting at zero) at which to divide the input-data</li>
    </ul>
</p>