.appchooserdialog {
    width: 60%;
    margin-left: 20%;
    position: absolute;
    top: 40%;
}

.appchoosertext {
    position: absolute;
    top: 45%;
}

.fileitem {
    list-style: none;
    list-style-position: outside;
    margin-left: 5px;
    cursor: pointer;
}

.fileviewerpanel {
    position: absolute;
    top: 10px;
    left: 23%;
    width: 75%;
    height: 90%;
    border-style: solid;
    border-color: #A19B9E;
    border-width: 1px;
    overflow: auto;
}

.fileviewerlist {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20%;
    height: 90%;
    overflow: auto;
    border-style: solid;
    border-color: #A19B9E;
    border-width: 1px;
}

.fileselected {
    background-color: #3366FF;
    color: white;
}

.versionListElement {
    display:block;
    min-height:60px;
    border: 1px solid;
    border-color: #ffffff;
    padding:10px 10px 10px 0;
}

.versionListElement:hover{ background-color: #F2F2F2; border: 1px solid #cccccc;}

.versionListNumber {
    float:left;
    height:40px;
    font-size: 20px;
    font-family: sans-serif;
    padding-top: 20px;
    padding-left: 5px;
    margin:0 0px 0 0px
}

.versionListDate {
    margin-left:45px;
    font-size: 14px;
    font-family: sans-serif;
}

.versionListUser {
    background-image: url(images/user.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 45px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 12px;
    font-family: sans-serif;
}

.versionListSize {
    background-image: url(images/disk.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 45px;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 12px;
    font-family: sans-serif; 
}

.versionListDownload {
    float: right;
    display: inline;
    padding-top: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.versionListDownloadText {
    margin-left: -10px;
}

.historyListElement {
    display:block;
    min-height:30px;
    border: 1px solid;
    border-color: #ffffff;
    padding-top: 2px;
}

.historyListEven {
    background-color: #E5E5FF;
}

.historyListElement:hover{ background-color: #F2F2F2; border: 1px solid #cccccc;}

.historyListIcon {
    float:left;
    height:20px;
    padding-left: 5px;
}

.historyListDate {
    margin-left:35px;
    font-size: 14px;
    font-family: sans-serif;
}

.historyDetails {
    margin-left: 30px;
    padding-top: 2px;
    font-size: 12px;
    font-family: sans-serif;
}

.tagDeleteImg {
    height:16px; 
    width: 16px;
    background-image: url(images/cross.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.tagTableRow {
    line-height: 30px;
}

.tagTableTagColumn {
    width: 100px;
    vertical-align: text-top;
}

#elfinder-viewerDiv_panel_prov_writes_table_wrapper.dataTables_wrapper div.row-fluid:first-of-type{
    display: none;
}
#elfinder-viewerDiv_panel_prov_reads_table_wrapper.dataTables_wrapper div.row-fluid:first-of-type{
    display: none;
}

#quickview_panel_prov_writes_table_wrapper.dataTables_wrapper div.row-fluid:first-of-type{
    display: none;
}

#quickview_panel_prov_reads_table_wrapper.dataTables_wrapper div.row-fluid:first-of-type{
    display: none;
}