@charset "utf-8";
/* CSS Document */
.Utility {
		color: black;
}	
.NodeName {
	font-weight:bold;
	color: #800080;	
}
.AttributeName 
{
	font-weight:bold;
	color: black;
        text-align: left;
}
.AttributeValue
{
	color:blue;
        text-align: left;
}
.NodeValue
{
	color: black;
}
.Element {
	padding-top:0px;
	margin-top:4px;
        margin-bottom: 4px;
        text-align: left;
}
.Clickable {	
	font-weight:900;
	font-size:small;
	color: #800080;	
	cursor:pointer;
	vertical-align:middle;
}
