<h1>Block Name</h1>
<p>
    This block gets references to all of the other files in the same folder
    as the input reference. It can be used to pull all of the files from a
    folder into the workflow.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>file-reference: A single file reference</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>related-references: References to all of the other files in the same folder as the input reference file</li>
    </ul>
</p>
