.enginelist {
    width: 150px; 
    height: 400px; 
    overflow: auto;    
}

.enginelistitem{
    list-style-position: inside;
    margin-bottom: 4px;
    margin-left: 0px;
    font-family: sans-serif;
    font-size: 12px;
    padding: 2px;
}

.enginedetailsline {
    line-height: 20px;
}

.engineup {
    list-style-image: url("images/server_go.png");
    list-style-position: outside;    
}

.enginedown {
    list-style-image: url("images/server_delete.png");
    list-style-position: outside;    
}

.enginedetails {
    width: 470px; 
    height: 400px; 
    float: right;
}

.engineselected {
    background-color: #003399;
    color: white;    
}

.enginetoolbar {
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 10px;
    padding-right: 5px;
}

.engineiconstart {
    width: 16px; height: 16px; background-image: url(images/server_go.png);
}