.service-shell-save-history {
  font-size: 12px;
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 4px;
  cursor: pointer;
  background-image: url(images/disk.png);
  background-repeat: no-repeat;
}

.service-shell-view-history {
  font-size: 12px;
  height: 20px;
  width: 20px;
  float: right;
  margin-top: 4px;
  cursor: pointer;
  background-image: url(images/script.png);
  background-repeat: no-repeat;
}

.service-shell-toolbar {
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-style: solid;
  border-width: 1px;
  display: block;
  background: #E6E6E6;
  border-color: gray;
}
.smallertext {font-size: 80.0%;}