<h1>Transpose</h1>
<p>
    This block transposes the input data, swapping rows for columns so that a M x N input
    data set becomes and N x M output data set. In addition, a specified column in the original
    data (the set using the NamesColumn property) can be used as the column names in the transposed
    data provided the ExtractNames property is set to true. Also, if the IncludeOriginalNames
    property is set to true, an additional column of text data will be included in the output
    data which contains the names of the columns in the input data.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data to be transposed</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>transposed-data: Transposed copy of the input data</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>ExtractNames: Specifies whether the columns in the transposed data set should take their names
        from a column of data in the input-data</li>
        <li>NamesColumn: Column of data in the original data (specified by name or #index where #0 represents the first column) to 
        be used to set the names of the columns in the transposed data<li>
        <li>IncludeOriginalNames: If set to true, and additional text column will be present in the transposed-data output
        that contains the names of the columns in the original input-data</li>
    </ul>
</p>