/************************************
AURELIUS
URL: www.qwibbledesigns.co.uk/preview/aurelius/
AUTHOR: Matthew Corner (QwibbleDesigns)
DATE: 31 Jan, 2010
REVISION: 1.0
DESCRIPTION: A premium business and portfolio theme.
************************************/

/* Global Styles */

body {
    background: url(images/bg.png) repeat-x #FFFFFF;
}

ul#navigation li a:hover, ul#navigation li a.current			{background:url(images/triangle.gif) no-repeat center top;}

.container_12 .grid_4_5 {
  width: 364px;
}

/* Overiding Classes */
/* Must remain at the bottom of the stylesheet */

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}
