/************************************
AURELIUS
URL: www.qwibbledesigns.co.uk/preview/aurelius/
AUTHOR: Matthew Corner (QwibbleDesigns)
DATE: 31 Jan, 2010
REVISION: 1.0
DESCRIPTION: A premium business and portfolio theme.
************************************/

/* Global Styles */

	body								{ font-size:13px;	font-family:'Open Sans', 'Helvetica Neue', 'Liberation Sans', FreeSans, Tahoma, Arial, san-serif,sans-serif; color:#000000;text-align: justify;}
    html                                {height: 100%;}
	a:focus								{outline:1px dotted;}
	a									{color:#717171; text-decoration:none;}
	a span								{font-size:90%;}
	h1									{font-size:25px;}
	h2									{font-size:20px;}
	h3									{font-size:21px;}
	h4									{font-size:19px;}
	h5									{font-size:17px;}
	h6									{font-size:15px;}
	ol									{list-style:decimal;}
	ul									{list-style:disc;}
	li									{margin-left:20px; position:relative;}
	p,
	li,
	dl									{line-height:18px;}
	p,
	dl,
	hr,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	ul,
	pre,
	table,
	address,
	fieldset,
	img									{margin-bottom:20px;}
	#wrapper							{margin-top:30px;}
	ul li ul,
	ol li ol							{margin-bottom:0px;}
	ol									{padding: 0 0 0 5px;}

/* Custom Grid */

	.container_12 						{margin-left:auto; margin-right:auto; width:1020px;}
	.float								{display:inline; float:left; position:relative;}
	.grid_1,
	.grid_2,
	.grid_3,
	.grid_4,
	.grid_5,
	.grid_6,
	.grid_7,
	.grid_8,
	.grid_9,
	.grid_10,
	.grid_11,
	.grid_12 							{display:inline; float:left; position:relative; margin-left:20px; margin-right:20px;}
	.container_12 .grid_1				{width:45px;}
	.container_12 .grid_2 				{width:130px;}
	.container_12 .grid_3 				{width:215px;}
	.container_12 .grid_4 				{width:300px;}
    .container_12 .grid_4_5				{width:405px;}
	.container_12 .grid_5 				{width:385px;}
	.container_12 .grid_6 				{width:470px;}
	.container_12 .grid_7 				{width:555px;}
	.container_12 .grid_8 				{width:640px;}
	.container_12 .grid_9 				{width:725px;}
	.container_12 .grid_10 				{width:810px;}
	.container_12 .grid_11 				{width:895px;}
	.container_12 .grid_12 				{width:980px;}

/* Global Classes */

	.hr									{border:none; border-bottom:1px solid #f0f0f0; border-top:1px solid #d6d6d6; clear:both; height:0; line-height:0; width:100%; font-size:0; padding:0 ;margin-bottom :20px;}
	.pr									{border:none; border-bottom:1px solid #f0f0f0; border-top:1px solid #d6d6d6; clear:both; height:0; line-height:0; width:100%; font-size:0; padding:0; margin-bottom :30px;}
	.dotted								{border-style:dashed; border-left:0; border-right:0;}
	.meta								{font-weight:normal;font-family:'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Arial, san-serif; font-size:11px; color:#999999 !important; line-height:16px; text-transform:none; text-shadow:none;}
	.right								{float:right;}
	.left								{float:left;}
	.img_left							{float:left; margin:10px 20px 10px 0;}
	.img_right							{float:right; margin:10px 0 10px 20px;}
	.clear								{clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}
	.textright 							{text-align:right;}
	.error,
	.success							{display:none;}
  .content a{border-bottom: 1px dashed #717171; }

/* Site Logo */
	h1#logo 							{font-size:48px; font-weight:normal; margin-top:15px; margin-bottom:15px; color:#000000;}
  h1#logo img{width:450px; margin-bottom:0; padding-top: 12px;}

/* Site Navigation */

	ul#navigation						{text-transform:uppercase; float:right; padding-right: 20px;}
	ul#navigation li 					{float:right; display:inline; margin : 0 0 0 34px;text-align:center;}
	ul#navigation li a					{font-family:arial, sans-serif !important; display:block; padding:38px 0 0; text-decoration:none; color:#000000; font-size:14px; font-weight:bold}
/* Footer */

	.footer,
	.footer a							{color:#494949;}
	.footer a:hover						{color:#9d9d9d;}

/* Sub Navigation */

	ul.sidebar							{list-style:none; margin:0 0 30px 0; padding:0;}
	ul.sidebar li						{margin:0 0 0 0; padding:0;}
	ul.sidebar a						{width:100%;display:inline-block; padding:10px 0 10px 5px; border-bottom:1px solid #e4e4e4; text-decoration:none; color:#393939; }
	ul.sidebar li:last-child a			{-moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; -webkit-border-bottom-left-radius:5px; -webkit-border-bottom-right-radius:5px;}
	ul.sidebar li:first-child a			{-moz-border-radius-topleft:5px; -moz-border-radius-topright:5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px;}
	ul.sidebar a:hover, .cat_selected		{background-color: #F2F2F2; border: 1px solid #cccccc; cursor: pointer}

/* Caption */

	h2.caption 							{text-align:center; color:#494949; text-shadow:1px 1px 1px #cfcfcf; font-size:26px; line-height:7px;font-weight:normal; }
	h2.caption span						{color: #324c93;}
	h2.caption a:hover					{text-decoration : underline;}

/* Homepage QuickNavigation */

	#quicknav							{background:url(images/link_border.png) repeat-x; }
	a .title 							{color:#000000;text-align:center}
	.quicknavgrid_3						{width:225px; margin:0px; padding:20px 20px 0; display:inline; float:left; position:relative; margin-left:1px;}
	.quicknavgrid_4						{width:408px; margin:0px; padding:20px 20px 0; display:inline; float:left; position:relative; margin-left:1px;}
	.quicknav							{background:#FFFFFF; height:244px;}
	.quicknav:hover						{background:url(images/link_bg.png) repeat-x;}
	.quicknavhr							{margin-bottom:0;}
	.quicknav.alpha						{margin-left:0; width:225px;}
	.quicknav p							{text-align: center;	}
	.caseStudyImg						{height: 70px; padding:0 10px}

/* About Us Page Timeline */

	dl.history							{margin:10px 10px;}
	dl.history							{margin:0 0 10px 0; zoom:1}
	dl.history dt						{width:50px; float:left; font-weight:bold;}
	dl.history dd						{width:250px; float:left; padding:0; margin-bottom:20px;}

/* Common Scroller Styles */

	.roundabout-holder 					{list-style:none; width:500px; height:300px; margin:0px auto;}
	.roundabout-moveable-item 			{font-size:12px!important; height:300px; width:600px; cursor:pointer; padding:5px; border:1px solid #aaaaaa; -webkit-border-radius:5px; -moz-border-radius:5px; background:#f9f9f9;}
	.roundabout-moveable-item img 		{height:100%; width:100%; background-color:#FFFFFF; margin:0;}
	.roundabout-in-focus 				{cursor:auto;}
	.roundabout-in-focus:hover			{-webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;}
	.roundabout-holder span				{display:none; font-size:12px;}
	.roundabout-in-focus:hover span		{display:inline; position:absolute; bottom:5px; right:5px; padding:8px 20px; background:#f9f9f9; color:#000000; z-index:999; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px; font-size : 12px;border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; }
	.roundabout a:active,
	.roundabout a:focus,
	.roundabout a:visited				{outline:none; text-decoration:none;}
	.roundabou li 						{margin:0}
	a img								{border:none; outline:0;}

/* Featured Image Slider */

	#featured							{margin:10px 0 40px 0;}

/* Portfolio Image Slider */

	#folio_scroller_container						{margin-top:35px; margin-bottom:40px; height:auto;}
	#folio_scroller_container .roundabout-holder	{list-style:none; height:400px; margin:0px auto 20px auto;}

/* Portfolio Styles */

	.portfolio_item						{width:223px; position:relative; margin:0 14px 28px 14px; padding:0;}
	.portfolio_item img					{padding:5px; border: 1px solid #aaaaaa; width:211px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:#f9f9f9; margin-bottom:0px;}
	.portfolio_item span				{display:none;}
	.portfolio_item:hover img			{-webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;}
	.portfolio_item:hover span			{display:inline; position:absolute; bottom:6px; right:6px; padding:10px 15px; background:#f9f9f9; color:#000000; z-index:999; border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px;}

/* Blog Post Styles */

	.post a:hover						{text-decoration:underline;}
	.post .title						{color:#393939; font-size:30px;}
	.post .title a						{color:#393939; text-decoration:none;}
	.post a.button:hover				{text-decoration:none;}
	.post .sub							{font-size:12px; color:#9d9d9d;}
	.post .thumb						{width:619px; height:150px; padding:5px; border: 1px solid #cccccc; -moz-border-radius:5px; -webkit-border-radius:5px;}

/* Comment's List */

	.commentlist						{margin:0; padding:0; margin-bottom:20px; float:left; width:100%;}
	.commentlist li						{width:100%; clear:both; float:left; padding:0; list-style-type:none; margin:0; position:relative;}
	.gravatar							{float:left; width:60px; padding:0px 10px 0 0; text-align: center;}
	.gravatar img						{display:block; padding:5px; padding-left:none; margin-bottom:0px;}
	.comment_content					{float:left; width:569px;}
	.commentmetadata					{float:right;}
	.comment-reply-link					{text-decoration:none; font-size:10px;}
	.author_name						{font-weight:bold; font-style:normal; font-size:15px; float:left;}
	.author_name a{color:#000000;}
	.comment_text						{clear:both; margin-top:10px;}
	.comment-reply-link					{text-align:center; display:block;}

/* Contact Form */

	.content form ul					{float:left;}
	.content form ul li					{margin:10px 0; list-style:none; position:relative; clear:both;}
	.content form label					{line-height:30px; width:100px; text-align:left; float:left; margin-top: 5px; margin-right:10px;}
  .content form label.checkboxLabel{width:588px;float:left;}
  .content form input.checkbox{width:50px;margin-top:10px}
  .content form input,
	.content form textarea				{float:left; padding:8px; border:1px solid #CCCCCC; margin-left:10px;-moz-border-radius:5px; -webkit-border-radius:5px;width:500px}
	.content form textarea				{height:150px; resize: none;}
	.content form input.button			{float:right;width:inherit;margin-right:20px}


    .dialog form 				{float:left;}
    .dialog form .formInput		        {margin:3px 0; position:relative; clear:both; display: inline-table;}
    .dialog form label				{line-height:30px; width:180px; text-align:left; float:left; margin-right:10px;margin-bottom:5px}
    .dialog form input,
    .dialog form textarea			{float:left; padding:8px; border:1px solid #CCCCCC; margin-left:10px;-moz-border-radius:5px; -webkit-border-radius:5px;}
    .dialog form textarea			{height:150px; resize: none;}
    .dialog form input.button                   {float:right;width:inherit;margin-right:20px}

/* Comment form */

	#comment_form ul					{float:left;}
	#comment_form ul li					{margin:10px 0; list-style:none; position:relative; clear:both;}
	#comment_form label					{line-height:35px; width:100px; text-align:right; float:left; margin-right:10px;}
	#comment_form input,
	#comment_form textarea				{float:left; padding:8px; border:1px solid #CCCCCC; margin-left:10px; background:#fcfcfc; -moz-border-radius:5px; -webkit-border-radius:5px;}
	#comment_form input					{width:400px;}
	#comment_form textarea				{width:500px; height:150px; resize:none;}

/* Contact Page Sidebar */
	.contact ul 						{list-style:none;}
	.contact li 						{margin:0;}


/* Biographies */
  .bio img							{float: right; width: 160px; padding-left:10px}
  .caseStudies img      {height: 75px;		float: left;		padding-right: 20px; 	}
  .frontpage_text p{		font-size: medium; 	 	line-height: 25px; 	 }

/* Header Bar*/

  #loginBox, #logoutBox {height:30px; margin-top:-30px; font-size:11px; line-height:1.4;}
  #loginForm, #logoutForm            {padding-top:3px;}
  #loginForm {width: 555px;}
  #loginButton, #logoutButton          {font-size:10px; padding: 0.2em 1em; }
  #loginForm input      {margin-left:2px; }
  #username, #password {width:150px;}
  #loginForm label,
    #topLeftLinks a   {margin-left: 5px; color:white; }
  #logoutBox p{ font-size:12px; padding-top:5px; color:white; float:right}
  #topLeftLinks a       {margin-top:5px; margin-right:25px; }
  #topLeftLinks         {height:23px; margin-top:-23px; }
  #rememberMeDiv{
    float: right;
    font-size: 9px;
    line-height: 5px;
    margin-left: 5px;
    margin-top: 1px;
    width: 50px;
    display:inline-block;
  }
 #rememberMeDiv label{
   margin-left: 0;
 }

 /*Project dropdown*/
 #projectDropDown{
   float:left;
   margin-top: 5px;
 }

/*Profile Styles */
.profileHeader {display: block; min-height: 250px; border: 1px solid #ffffff; padding: 10px 0 10px 0;}
.profileHeaderImg {float: left; margin: 0 5px 0 5px;}
.profileHeaderTable {margin-left: 280px; margin-top: 40px; width: 350px;}
.profileHeaderTableCol1 {width: 100px; color: #494949;text-shadow: 1px 1px 1px #CFCFCF; font-size: 16px; font-weight: normal;}
.profileHeaderTableCol2 {color: #494949;text-shadow: 1px 1px 1px #CFCFCF; font-size: 16px; font-weight: normal;}
.profileHeaderTableRow {height: 35px;}
.profileHeaderName {margin-left: 300px; margin-bottom: 10px; margin-top: 40px; color: #494949;text-shadow: 1px 1px 1px #CFCFCF; font-size: 20px; line-height: 7px; font-weight: normal;}
.profileHeaderEmail {margin-left: 300px; margin-bottom: 10px; margin-top: 30px; color: #494949;text-shadow: 1px 1px 1px #CFCFCF; font-size: 14px; line-height: 7px; font-weight: normal;}
.profileHeaderWeb {margin-left: 300px; margin-bottom: 10px; margin-top: 30px; color: #494949;text-shadow: 1px 1px 1px #CFCFCF; font-size: 14px; line-height: 7px; font-weight: normal;}
#profileDescription {margin-left: 10px; font-size: 12px;}
#profileDescription h1{ color:#ff0000;  }
.profileHeaderInput {width: 250px; border-width: 1px; font-size: 12pt; color: #494949;}

/* Product List styles */
.productListElement {display: block; min-height: 50px; padding: 5px 0 5px 0;}
.productListImg {float: left; margin: 0 5px 0 5px;}
.productListText {margin-left: 30px; margin-top: 10px; margin-bottom: 5px; font-size: 14px; font-weight: normal;}
.productListDescription {margin-left: 30px; font-size: 12px; font-weight: normal;}
.productListRight {float: right; display: inline; padding-top: 5px; cursor: pointer; width:30px;}
.productListRightImg {margin-bottom: 5px; margin-left: -10px;}
.productListRightText {margin-left: -35px;margin-top: 5px;}
.productListCentre {float: right; margin-right: 50px; font-size: 14px; margin-top: 0px;}
.productListCentre2 {float: right; margin-right: 70px; font-size: 14px; margin-top: 0px;}

/* SPOT Account statement */
.spotStatementTable {width: 100%;}
.spotStatementRowLeft {height: 15px; font-size: 12px; color: #494949; text-align: left;}
.spotStatementRowRight {height: 15px; font-size: 12px; color: #494949; text-align: right;}
.spotHeaderRowLeft {height: 20px; font-size: 14px; text-align: left; margin-bottom: 10px; border-bottom: 1px;}
.spotHeaderRowRight {height: 20px; font-size: 14px; text-align: right; margin-bottom: 10px; border-bottom: 1px;}
.spotSideBalanceTable{margin-left: 5px;}
.spotSideBalanceTableRowLeft {height: 20px; font-size: 12px; color: #494949; width: 160px;}
.spotSideBalanceTableRowRight {height: 20px; font-size: 12px; color: #494949; font-weight: bold;}

/* Subscription styles */
.subscriptionDetailsName {font-size: 12px;}
.subscriptionDetailsValue {font-size: 12px;}


/*List Styles*/

  .listElement{display:block; min-height:75px; border: 1px solid #ffffff;  padding:20px 0 20px 0;}
  .listItemImg{float:left; height:75px; margin:0 10px 0 10px }
  .listItemRightImg{float: right; display: inline; padding-top: 5px; padding-right: 10px; cursor: pointer;}
  .listItemRightText{margin-left: -10px;}
  .listTopText{
    color: #324c93;
    font-size: large;
    margin-bottom: 10px;
    margin-left: 95px;
  }
  .listTopText a{border-bottom:none; font-weight:bold; color:#000000;cursor: pointer;}
  .listMainText, .listBottomText{margin-left:95px; padding-right:10px}
  .listMainText p{margin-bottom:10px; }
  .listBottomText a{margin-right:10px; cursor: pointer;}
  .listWorkflowPreview {border-style: solid; border-width: 1px; border-color: #d6d6d6; float:left; margin-right: 10px;margin-bottom: 0;margin-left: 10px;}
  .listElement:hover{ background-color: #F2F2F2; border: 1px solid #cccccc}

  .mainPicture{padding-right:10px; }

  .red{
    color:red;
  }


#jGrowl .ui-state-highlight{
  background: black;
  border: none;
  color: white;
}

.timeline-event-label {
  padding: 7px 0 0 5px;
}

.leftMarHundred{
  margin-left:110px
}

/* Tag Cloud */
#tagsBox{
    line-height: 30px;
    padding-top:30px;
}

#tagsBox a{
    margin: 10px;
}

/* End Tag Cloud */

#tagDialog ul {
  margin: 0;
}
#tagDialog ul li{
  list-style: none;
  padding: 5px 0;
  margin: 0;
}

/* Pagination */
.pagination{
  font-size: larger;
  text-align: center;


    display: block;
    min-height: 50px;
    padding: 20px 0;

}

.pagination a, .pagination a:hover{
  border-bottom: none;
  cursor: pointer;
}

/* Search */
.searchForm{
  padding: 0 0 20px 150px;
}

#searchBox{
  margin-right: 10px;
}

.selected {
    background-color: #324c93;
    color: #FFFFFF;
}

/* Flash */
.flash {
  margin-bottom: 10px;
}

#flash_container p {
  margin: 0;
}

.ui-state-highlight, .ui-state-error {
  padding: 9px;
}

.flash div p span {
  float: left;
  margin-right: .3em;
}

.dialogheading {
    font-weight: bold;
    font-size: 90%;
    margin-bottom: 10px;
}