/*
CSS For the property editor when no DataTables are being used
*/
/* 
    Created on : Oct 7, 2014, 8:12:34 AM
    Author     : hugo
*/

thead tr {
    background-color: #3869A5;
    color: white;
    text-align: left;  
    height: 30px;
    padding-left: 5px;
}

thead th {
    padding-left: 5px;
}

tbody tr {
    height: 30px;
    padding-left: 5px;
    
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCCCCC;
    
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #CCCCCC;
    
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #CCCCCC;    
}

tbody td {
    padding-left: 5px;
}