<h1>Validate IFC Model</h1>
<p>
    This block validates a BIM IFC file using the xbimInterpret application.  Will only work on when the Workflow Engine is running on Windows.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>IFC Files</li>
    </ul>
<h2>Outputs</h2>
<p>
    <ul>
        <li>The STD::OUT and STD::ERR reports from xbimInterpret</li>
    </ul>
<h2>Properties</h2>
