<div class="span12">
    <p>
        Welcome to the pervasive monitoring framework - a globally accessible cloud based  data collection and management system to support and enable collaboration about Unilever's distributed in-life monitoring studies.   
        If you are unsure what to do next, new to the system or otherwise need some help please email support@pmfmanager.com in first instance. 
    </p>
    <p>
        The pervasive monitoring framework is powered by <a href="http://www.inkspot.co">e-science central</a>, an open source cloud based platform to store, analyse and share
        your data.
    </p>
</div>