svg {
    display: block;
}

.dash_chart, svg {
    margin: 0px;
    padding: 0px;
    height: 300px;
    width: 100%;
}

.panel{
    color: #ffffff;
    cursor: pointer;
}

.green{
    background-color: rgb(44, 160, 44);
}

.lightgreen{
    background-color: rgb(44, 160, 44);
    background-color: rgba(44, 160, 44, 0.75);
}

.blue{
    background-color: rgb(31, 119, 180);
}

.lightblue{
    background-color: rgb(31, 119, 180);
    background-color: rgba(31, 119, 180, 0.75);
}

.orange{
    background-color: rgb(255, 127, 14);
}

.lightorange{
    background-color: rgb(255, 127, 14);
    background-color: rgba(255, 127, 14, 0.75);
}

.grey {
    background-color: rgb(127, 127, 127);
}

.lightgrey {
    background-color: rgb(127, 127, 127);
    background-color: rgba(127, 127, 127, 0.75);
}

.panel i{
    padding-left: 50px;
}

.panel-text .huge{
    font-size: xx-large;
    margin-top:-15px;
    padding-bottom: 5px;
}
