<h1>Subsample</h1>
<p>
    This block subsamples the input data at a specified frequency (set
    using the Interval property). Setting an Interval of 4, for example,
    would lead to every 4th row of the input data being passed to the
    subsampled-data output with the remaining rows being passed to the 
    remaining-data output.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-data: Data to be subsampled</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>subsampled-data: Reduced sample of the input-data</li>
        <li>remaining-data: All of the remaining data rows that did not form part of the subsampled data set</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>Interval: The row interval at which to subsample the input-data</li>
    </ul>
</p>