<h1>FileRowSubsample</h1>
<p>
    This block reads an input text file and subsamples rows of text contained
    within it. It is used for reducing the size of large files in a simple 
    manner. The subsample frequency can be specified in order to control
    the size of the output file.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>input-file: The file to be subsampled</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>subsampled-file: The file containing the subsampled data</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>SampleInterval: The row interval at which to sample the input file</li>
        <li>FilePrefix: The text to prefix to the name of the subsampled file</li>
    </ul>
</p>