<h1>CreateProperties</h1>
<p>
    This block takes a list of name value pairs and converts it to a properties
    connection that can be used to assign properties to downstream blocks.
</p>


<h2>Outputs</h2>
<p>
    <ul>
        <li>properties: A properties data connection that can be used to assign properties of other blocks</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>Propeties: A two column string list containing name-value property pairs</li>
    </ul>
</p>