<h1>Import Directory</h1>
<p>
    This block imports all the contents of the directory specified by the
    property SourceFolder into the workflow directory. The output of the 
    block then contains a list of the files that have been imported which
    can be passed to other blocks that perform direct file manipulations.
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>imported-files: A list of references to all of the files that this
        block has imported</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>SourceFolder: Folder containing files to import into the workflow</li>
    </ul>
</p>