<h1>Block Name</h1>
<p>
    This file acquires a reference to a file on the server without physically
    downloading the file to the workflow directory.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>This block has no input connections</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>file-reference: Reference to the server file</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>Source: Defines the file reference to link to</li>
    </ul>
</p>