<h1>Block Name</h1>
<p>
    This block downloads data from the server using a set of references
    that have been passed in.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>file-references: List of references that will be downloaded</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>files: List of downloaded files</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>This block has no additional properties</li>
    </ul>
</p>