<h1>Weka Linear Regression</h1>
<p>
    This block fits a linear model of an output/response variable <b>y</b> using input variables <b>X</b> plus a bias term. The
    model is of the form <b>y</b> = <b>bX</b> + <b>e</b> where b is a column vector of regression coefficients and e is a column
    of model residuals.
    
<p>The weka implementation of a linear regression model is used.
</p>
</p>  


<h2>Inputs</h2>
<p>
    <ul>
        <li>List block inputs here</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>List block outputs here</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>List block properties here</li>
    </ul>
</p>