<h1>Row Join</h1>
<p>
    This block joins data contained in the "lower-data" input to the
    bottom of the data contained in the "upper-data" input. If the data
    set dimensions do not agree the smaller data set will have additional
    columns of Missing Values appended to it.
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>upper-data: Data that will appear at the top of the output-data output</li>
        <li>lower-data: Data that will appear at the bottom of the output-data output</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>joined-data: Data containing all the data in the upper-data and lower-data inputs</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    This block has no additional properties
</p>