.detailsbox {margin-left: 0px; margin-top: 10px; width: 98%;}

form                            {float:left;}
form .formInput		        {margin:4px 0; position:relative; clear:both;}
form label			{line-height:28px; width: 160px; text-align:left; float:left; margin-right:10px;margin-bottom:10px; padding-left: 5px;}
form input, form textarea	{float:left; padding:8px; border:1px solid #CCCCCC; margin-left:10px;-moz-border-radius:5px; -webkit-border-radius:5px;}
form textarea			{height:50px; resize: none; width: 276px;}
form input.button		{float:right;width:inherit;margin-right:20px}

.blocklanguagedescription       {float: left; margin-left: 175px;}
.blockcheckbox                  {width: 276px; margin-top: 7px;}
.streammodeSelect               {margin-left: 10px;width: 276px;}

.propertiesButtons {float: right; width: 20%; padding: 0px;}
.propertiesButton {width: 100%;}
.propertiesTitle {margin-top: 0px; margin-bottom: 5px; font-size: 12;}
.propertiesBox {margin-left: 0px; width: 78%; height: 100px; overflow: auto; border:1px solid #CCCCCC; -moz-border-radius:5px; -webkit-border-radius:5px;}
.propertyElement{display:block; min-height:20px; border: 1px solid #ffffff;  padding:2px 0 2px 0;}
.propertyItemImg{float:left; height:20px; margin:0 4px 0 4px }
.propertyItemRightImg{float: right; display: inline; padding-top: 2px; padding-right: 10px; cursor: pointer; margin-bottom: 2px;}
.propertyMainText {margin-left:30px; padding-right:10px}
.propertyElement:hover{ background-color: #F2F2F2; border: 1px solid #cccccc; cursor: pointer}

.filemanagerLeft {
    float: left;
    width: 25%;
    overflow: auto;
}

.filemanagerRight {
    float: right;
    width: 70%;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    margin-right: 5px;
    margin-top: 4px;
    border-color: gray;
    padding: 3px;
}

.fileManagerToolbar {
    width: 95%;
    height: 30px;
    margin-right: 10px;
}

.versionElement {
    padding-top: 4px;
    display: block;
    min-height: 20px;
}

.versionNumber {
    float: left;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.versionDate {
    margin-left: 20px;
    width: 170px;
    cursor: pointer;
}

.documentChanged {
    font-weight: bold;
}

/* Top IDE toolbar */
#ide_top_toolbar
{
    margin:0 !important;
}

#ide_top_toolbar .navbar-inner
{
    padding:0;
}

#ide_top_toolbar .nav
{
    float:none;
    margin:0;
}

#ide_top_toolbar .nav a
{
    padding:0 10px;
    line-height:40px;
}

#ide_top_toolbar .nav i:before
{
    top:14px;
    font-size:14px;
    color:#777777;
    margin-right:5px;
}

#ide_top_toolbar .nav a:hover i:before
{
    color:#333333;
}

#ide_top_toolbar .nav .input-prepend
{
    float:right;
    margin:5px;
}

/* File tree toolbar */
#ide_inner_toolbar
{
    margin:0 !important;
}

#ide_inner_toolbar .navbar-inner
{
    padding:0;
}

#ide_inner_toolbar .nav
{
    float:none;
    margin:0;
}

#ide_inner_toolbar .nav a
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height:40px;
}

#ide_inner_toolbar .nav i:before
{
    top:14px;
    font-size:14px;
    color:#777777;
    margin-right:5px;
}

#ide_inner_toolbar .nav a:hover i:before
{
    color:#333333;
}

#ide_inner_toolbar .nav .input-prepend
{
    float:right;
    margin:5px;
}

/* Versions inner toolbar */
#ideversions_inner_toolbar
{
    margin:0 !important;
}

#ideversions_inner_toolbar .navbar-inner
{
    padding:0;
}

#ideversions_inner_toolbar .nav
{
    float:none;
    margin:0;
}

#ideversions_inner_toolbar .nav a
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height:40px;
}

#ideversions_inner_toolbar .nav i:before
{
    top:14px;
    font-size:14px;
    color:#777777;
    margin-right:5px;
}

#ideversions_inner_toolbar .nav a:hover i:before
{
    color:#333333;
}

#ideversions_inner_toolbar .nav .input-prepend
{
    float:right;
    margin:5px;
}