<h1>Get Named File</h1>
<p>
    This block downloads a file with a particlar name to the workflow engine.  The file must be in the User's home directory.
    If multiple files with the same name exist they will all be downloaded and renamed -1, -2 etc.
</p>
<h2>Inputs</h2>
<p>
    None
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>List of the downloaded files</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    <ul>
        <li>Filename [String]: Name of the file to be downloaded</li>
    <li>FailIfNotExist: Should the block fail if it can't find the file?</li>
    </ul>
</p>