<h1>Block Name</h1>
<p>
    Concatenate the contents of multiple files into one file. Will be ordered based on input order.
    Files must be parse-able into a Data object (i.e. CSV data) and only one column is supported.
    This block is able to transpose the data from rows to columns. It is intended to collate the results
    of sub workflows.
</p>
<h2>Inputs</h2>
<p>
<ul>
    <li>Data containing WorkflowInvocationIds and File Ids from Workflow per File block</li>
    <li>List of the files to concatente</li>
</ul>
</p>

<h2>Outputs</h2>
<p>
<ul>
    <li>Single DataWrapper of concatenated data</li>
</ul>
</p>
<h2>Properties</h2>
<p>
<ul>
    <li>Transpose - transpose the data from column based to row based?</li>
    <li>IncludeFilenames - should the original input filenames be included in the output?</li>
    <li>ColumnSelection - Number of the column containing the data to include in the output.  Only one column is
    currently supported. e.g. #0</li>
</ul>
</p>