<h1>Column Join</h1>
<p>
    This block joins the two input data sets together. It joins them "next" to each other
    so that the output data contains a single data set composed of the data contained in the
    input "left-hand-data" in the first columns and the data contained in the input "right-hand-data"
    in the latter columns. If one data set is shorter than the other, the joined columns from
    this data set will be padded with "Missing Values".
    
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>left-hand-data: Data that will end up on the left hand side of the joined output data</li>
        <li>right-hand-data: Data that will end up on the right hand side of the joined output data</li>
    </ul>
</p>
<h2>Outputs</h2>
<p>
    <ul>
        <li>joined-data: Combined data set containing all of the columns from the two inputs
    </ul>
</p>
<h2>Properties</h2>
<p>
    This block has no additional editable properties
</p>