<h1>ListJoin</h1>
<p>
    This block joins two lists of files into a single file list. This is
    used to pass multiple files to a single block input that requires
    data in the form of a file-wrapper object
</p>
<h2>Inputs</h2>
<p>
    <ul>
        <li>top-list: The list of files that will appear at the top of the joined list</li>
        <li>bottom-list: This list of files that will appear at the botton of the joined list</li>
    </ul>
</p>

<h2>Outputs</h2>
<p>
    <ul>
        <li>combined-list: The merged list of files</li>
    </ul>
</p>
<h2>Properties</h2>
<p>
    There are no additional editable properties for this block
</p>