/* 
    Document   : report.css
    Created on : Oct 29, 2013, 1:08:30 PM
    Author     : hugo, Dominic
    Description:
        Stylesheet for formatting output from Weka ModelReport block.
*/

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;  
}

pre {
     font-family: Courier, sans-serif; 
     font-size: 9pt; 
     color: black;
}

h1 {
    font-size: 14pt;
    text-align: left;
    color: #003366;
}

h2 {
    color: #003366;
    font-size: 12pt;
    text-align: left;
}
.break { 
    page-break-before: always;
}


p {font-size: 10pt; 
   color: black;
   text-align: left;
}

p.warning {color: #993300;}