<%@ page import="java.util.List" %>
<%@ page import="com.connexience.server.ejb.util.EJBLocator" %>
<%@ page import="com.connexience.server.model.document.DocumentRecord" %>


<%
  String advSearch = request.getParameter("advSearch");

  //for advanced search set the default checked to unchecked
  //for normal search set default to be checked
  String defaultChecked = " checked = 'checked' ";
  if (advSearch != null)
  {
    defaultChecked = "";
  }

  String usersChecked = defaultChecked;
  String tagsChecked = defaultChecked;
  String msgsChecked = defaultChecked;
  String grpsChecked = defaultChecked;
  String appsChecked = defaultChecked;
  String wfchecked = defaultChecked;
  String docsChecked = defaultChecked;
  String servicesChecked = defaultChecked;
  String foldersChecked = defaultChecked;

  if (request.getParameter("u") != null)
  { usersChecked = " checked = 'checked' "; }
  if (request.getParameter("tg") != null)
  { tagsChecked = " checked = 'checked' "; }
  if (request.getParameter("m") != null)
  { msgsChecked = " checked = 'checked' "; }
  if (request.getParameter("g") != null)
  { grpsChecked = " checked = 'checked' "; }
  if (request.getParameter("a") != null)
  { appsChecked = " checked = 'checked' "; }
  if (request.getParameter("w") != null)
  { wfchecked = " checked = 'checked' "; }
  if (request.getParameter("d") != null)
  { docsChecked = " checked = 'checked' "; }
  if (request.getParameter("s") != null)
  { servicesChecked = " checked = 'checked' "; }
  if (request.getParameter("f") != null)
  { foldersChecked = " checked = 'checked' "; }
%>


<!-- Right Hand Side -->

  <h6>Include in Search</h6>

  <div id="advancedSearchOptions">
    <label class="checkbox">
      <input type="checkbox" name="u" id="users_cb" value="u"  <%=usersChecked%>
             onchange="$('#advSearch').val('true');"><label for="users_cb">People</label>
    </label>

    <label class="checkbox">
      <input type="checkbox" name="tg" id="tags_cb" value="tg"  <%=tagsChecked%>
             onchange="$('#advSearch').val('true');"><label for="tags_cb">Tags</label>
    </label>

    <label class="checkbox">
      <input type="checkbox" name="m" id="messages_cb" value="m"  <%=msgsChecked%>
             onchange="$('#advSearch').val('true');"><label for="messages_cb">Messages</label>
    </label>

    <label class="checkbox">
      <input type="checkbox" name="g" id="groups_cb" value="g"  <%=grpsChecked%>
             onchange="$('#advSearch').val('true');"><label for="groups_cb">Groups</label>
    </label>

    <label class="checkbox">
      <input type="checkbox" name="a" id="apps_cb" value="a"  <%=appsChecked%>
             onchange="$('#advSearch').val('true');"><label for="apps_cb">Applications</label>
    </label>

    <label class="checkbox">
      <input type="checkbox" name="w" id="workflows_cb" value="w"  <%=wfchecked%>
             onchange="$('#advSearch').val('true');"><label
        for="workflows_cb">Workflows</label>
    </label>
    <label class="checkbox">
      <input type="checkbox" name="d" id="docs_cb" value="d" <%=docsChecked%>
             onchange="$('#advSearch').val('true');"><label for="docs_cb">Documents</label>
    </label>

    <label class="checkbox">
      <input type="checkbox" name="f" id="folders_cb" value="f" <%=foldersChecked%>
             onchange="$('#advSearch').val('true');"><label for="folders_cb">Folders</label>
    </label>

    <label class="checkbox">
      <input type="checkbox" name="s" id="services_cb" value="s" <%=servicesChecked%>
             onchange="$('#advSearch').val('true');"><label for="services_cb">Services</label>
    </label>
   </div>


