<h1>Block Name</h1>
<p>
    Add block description text in here
</p>
<h2>Inputs</h2>
<p>
<ul>
    <li>List block inputs here</li>
</ul>
</p>

<h2>Outputs</h2>
<p>
<ul>
    <li>List block outputs here</li>
</ul>
</p>
<h2>Properties</h2>
<p>
<ul>
    <li>List block properties here</li>
</ul>
</p>